<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <script defer src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script defer src="{{ url_for('static', filename='js/all.js')}}"></script>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header>Menu</header>
      <a href="/" style="{% block selected_home %} {% endblock %}">
        <i class="fas fa-home" ></i>
        <span>Home</span>
      </a>
      <a href="/image" style="{% block selected_image %} {% endblock %}">
        <i class="fas fa-images" ></i>
        <span>Test with image</span>
      </a>
      <a href="/video" style="{% block selected_video %} {% endblock %}">
        <i class="fas fa-camera-retro"></i>
        <span>Test with camera</span>
      </a>
      <a href="/about" style="{% block selected_about %} {% endblock %}">
        <i class="far fa-question-circle"></i>
        <span>About</span>
      </a>
      <a href="/contact" style="{% block selected_contact %} {% endblock %}">
        <i class="far fa-envelope"></i>
        <span>Contact</span>
      </a>
    </div>
    <div class="content">
        <h1 id="common-title">Face Mask Detection</h1>
        <div class="each-title">
            <h2>{% block namepage %}{% endblock %}</h2>
        </div>
        
        {% block content %}{% endblock %}
    </div>

      
    <div class="footer">
      <p>Make by <a>NguyenTrongNghia</a></p>
    </div>
</body>
<script defer src="{{ url_for('static', filename='js/event.js')}}"></script>
</html>
